/HYSM/obj
/HYSM/bin/HYSM.dll
/HYSM/bin/HYSM.pdb
/HYSM.Tests/bin/Debug/HYSM.dll
/HYSM.Tests/bin/Debug/HYSM.pdb
/HYSM.Tests/bin/Debug/HYSM.Tests.dll
/HYSM.Tests/bin/Debug/HYSM.Tests.dll.config
/HYSM.Tests/bin/Debug/HYSM.Tests.pdb
/HYSM.Tests/obj
